In [9]:
# using linear regression, create a model to predict North America video game sales given Europe and Japan Sales
# import libraries
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline

# read in csv file
df = pd.read_csv('VideoGameSales.csv')
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [27]:
# input should only be Europe and Japan sales
#X = df.drop(columns = ['Rank','Name', 'Year', 'Platform', 'Genre', 'Publisher', 'NA_Sales', 'Other_Sales', 'Global_Sales'])
X = df[['EU_Sales', 'JP_Sales']]
X.head()

   EU_Sales  JP_Sales
0     29.02      3.77
1      3.58      6.81
2     12.88      3.79
3     11.01      3.28
4      8.89     10.22

In [28]:
# target should only be NA sales
y = df['NA_Sales']
y.head()

0    41.49
1    29.08
2    15.85
3    15.75
4    11.27
Name: NA_Sales, dtype: float64

In [20]:
# Create and run model
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.25) #allocating 25% of data for testing

model = make_pipeline(StandardScaler(with_mean=False), LinearRegression())
model.fit(X_train, y_train)
model.score(X_train, y_train)

0.5597291679886655